# This is the default endlessh-koishi connector config file
# you can edit it to suit your needs
# note: after editing this file, make sure you restart the connector service

# Name of the systemd unit that Endlessh is running under
service_name=endlessh.service

# Could be either the official Koishi API url, or your own API
api_url=https://koishi-api.herokuapp.com

# In case you are using Koishi, make sure you supply _id of the collection
collection_id=